@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab);

* {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.category__label {
  font-family: 'Roboto Slab';
  text-transform: none;
}

.category {
    display: block;
    padding: 5px;
  }

  .category__label,
  .category__value {
    font-style: normal;
    text-transform: none;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30px;
    padding: 0 5px;
  }

  .category__value {
    width: 50px;
    opacity: 0.6;
  }

  .category__label {
    text-align: right;
  }

  .sparkline__tooltip {
    font-size: 0.7em;
  }